/* universal styles */

* {
  /* padding: 0;
  margin: 0; */
  font-family: "Open Sans", sans-serif;
}
/* shared styles */

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  border-radius: 5px;
  padding: 15px 50px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
}
.primary {
  color: hsl(25, 98%, 52%);
}

/* navbar related styles */
.header {
  background-color: #fff8f3;
}
.header {
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, center left;
  background-size: 700px, 90px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.navbar > section {
  display: flex;
  padding: 0 230px;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 40px;
}
nav a {
  text-decoration: none;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin-left: 230px;
  align-items: center;
}
.banner p {
  max-width: 600px;
}
.banner img {
  width: 500px;
  height: 600px;
  margin-right: 50px;
}

/* main section style  */

.about {
  margin: 130px 230px;
  padding: 150px 130px;
  background-color: #fff8f3;
  border-radius: 10px;
}
.about-title,
.about-des {
  text-align: center;
}

.info {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* what i do section Styles */

.what-i-do {
  text-align: center;
  margin: 0 350px;
}
.tech-section {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 130px 230px;
  margin-top: 20px;
}
.skill-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.skills {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

/* summary resume style  */

.resume-title {
  text-align: center;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.edu-ex {
  display: flex;
  padding: 0 180px;
  gap: 20px;
}
.btn {
  text-align: center;
}
.edu-info, .ex-info {
    width: 511px;
}

/* footer styles  */

.social > a{
  margin-right: 10px;
}
.connect-des{
  max-width: 550px;
}
footer{
  display: flex;
  justify-content: space-between;
  margin: 50px 130px;
}
.message > input{
   padding: 18px 230px 18px 30px;
   margin-bottom: 10px;
}
.message > textarea{
  padding: 18px 155px 18px 30px;
  margin-bottom: 10px;
}

.message > input, .message > textarea, .message > button{
    display: block;
}
